<html>

<head>
    <title>OnlineJudege - 排行榜</title>
    <style type="text/css">
        h1,
        h2 {
            margin: 20px;
        }

        a {
            color: blue;
            text-decoration: none;
        }

        a:hover {
            color: red;
            text-decoration: underline;
        }

        table.menu {
            text-align: left;
            margin-left: 15px;
            width: 600px;
        }
    </style>
</head>

<body>
    <table class="menu">
        <tr>
            <th><a href="/">主页</a></th>
            <th><a href="/problem/list">题库</a></th>
            <th><a href="/status/">提交记录</a></th>
            <th><a href="/problem/submit/0/">提交代码</a></th>
            <th><a href="/user/ranking/">排行榜</a></th>
            <th>
                {% if request.user.username %}
                <a href="/user/">用户中心</a>
                {% else %}
                <a href="/user/login/">用户中心</a>
                {% endif %}
            </th>
        </tr>
    </table>


    <h1>排行榜(前100)</h1>

    <table border="1">
        <tr>
            <th>名次</th>
            <th>ID</th>
            <th>用户名</th>
            <th>用户积分</th>
            <th>尝试解题数</th>
            <th>成功解题数</th>
        </tr>

        {% if user %}
        {% for elem in user %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ elem.id }}</td>
            <td>{{ elem.username }}</td>
            <td>{{ elem.point }}</td>
            <td>{{ elem.attempt_number }}</td>
            <td>{{ elem.solved_number }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <p>暂无</p>
        {% endif %}
    </table>
</body>

</html>